backend/NetPCTest.Backend/SQLLiteDatabase.db-shm
backend/NetPCTest.Backend/SQLLiteDatabase.db-wal
backend/NetPCTest.Backend.sln.DotSettings.user
backend/.idea/.idea.NetPCTest.Backend/.idea/dataSources.xml
