@*
 * Provides a basic extendable modal.
 *@

<div class="own-modal-backdrop">
    <div class="own-modal layer3" style="min-width: @MinimumWidth;">
        <h2><L Key="@Header"/></h2>
        <button class="close" @onclick="Close">&#10005;</button>
        <hr noshade>
        
        @ChildContent
    </div>
</div>

@code {
    [Parameter] 
    public required string Header { get; set; }
    
    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter] 
    public string MinimumWidth { get; set; } = "300px";

    private async Task Close() => await OnClose.InvokeAsync();
}