<div class="layer2 navbar">
    <div class="layer3 navbar-button" @onclick="ClickLogin"><L Key="ui.login"/></div>
</div>

@code {
    [Parameter]
    public EventCallback OnClickLogin { get; set; }

    private async Task ClickLogin() => await OnClickLogin.InvokeAsync();
}