@using NetPCTest.Frontend.Components;

<Modal Header="ui.login" OnClose="Close" MinimumWidth="300px">
    <form>
        <label><L Key="ui.login.email"/></label>
        <input class="layer2 layer2-input" type="email" required />

        <label><L Key="ui.login.password"/></label>
        <input class="layer2 layer2-input" type="password" required />

        <button class="layer2" type="submit"><L Key="ui.login.submit"/></button>
    </form>
</Modal>

@code {
    [Parameter]
    public EventCallback OnClose { get; set; }

    private async Task Close() => await OnClose.InvokeAsync();
}