.layer1 {
    border: 1px solid #444444;
    border-radius: 4px;
    background-color: #111111;
}

.layer2 {
    border: 1px solid #444444;
    border-radius: 4px;
    background-color: #1a1a1a;
}

.layer3 {
    border: 1px solid #444444;
    border-radius: 4px;
    background-color: #222222;
}

.layer2-input {
    border-radius: 2px;
}

hr {
    border-style: none;
    border-top-style: solid;
    border-color: #444444;
}